.masthead {
  color:white;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/bg-masthead.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}



.dropInLetter div{
  font-style: italic;
  display:inline-block;
  font-weight: normal; 
}
  .one{
    -webkit-animation-delay:0;
  }
  .two{
    -webkit-animation-delay:100ms;
  }
  .three{
    -webkit-animation-delay:200ms;
  }
  .four{
    -webkit-animation-delay:300ms;
  }
  .five{
    -webkit-animation-delay:400ms;
  }
  .six{
    -webkit-animation-delay:500ms;
  }
  .seven{
    -webkit-animation-delay:600ms;
  }
  .eight{
    -webkit-animation-delay:700ms;
  }
  .nine{
    -webkit-animation-delay:800ms;
  }
  .ten{
    -webkit-animation-delay:900ms;
  }
  .eleven{
    -webkit-animation-delay:1000ms;
  }
